
<% if !logged_in? %>

<!DOCTYPE html>
<br>
    <html lang="en">

    <head>

    <meta charset="utf-8">

    <title>Rotas Community</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    </head>

    <body>

        
            <!-- Brand and toggle get grouped for better mobile display -->

            

       <div align="center">

            <div class="container-fluid">


                     
                <img alt="teste" src="http://www.gruponasa.com.br/arquivos/1-6-download-822718_g.jpg" width="1000" height="450" />
                <link href="/assets/custom.css.scss?body=1" media="screen" rel="stylesheet" />
                <br>
                <div align="center"> 
                <br>

<div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Cadastre-se no sistema', new_user_path %>
                </div>
                </div>
               
                
</div>
            </div>

        

        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-4">

                    <h2>Quem somos</h2>

                    <p>O Rotas Transporte é uma empresa do ramo...</p>

                    <div align="center"> 
                <br>

                <div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Rotas disponiveis', routes_path %>
                </div>
                </div>

                </div>

                <div class="col-xs-4">

                    <h2>Oportunidade de Rotas</h2>

                    <p>Aqui você pode verificar todas as rotas disponiveis para você trabalhar!</p>

                <div align="center"> 
                <br>

                <div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Rotas disponiveis', routes_path %>
                </div>
                </div>
               
                    

                </div>

                <div class="col-xs-4">

                    <h2>Bootstrap</h2>

                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. The Bootstrap tutorial section will help you learn the techniques of Bootstrap so that you can quickly create your own website.</p>

                    <div align="center"> 
                <br>

                <div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Rotas disponiveis', routes_path %>
                </div>
                </div>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-12">

                    

                </div>

            </div>

        </div>

    </body>

    </html>

<% end %>


<% if logged_in? %>
<br>
<% if current_user.admin? %>


  <%= link_to 'Todos os usuarios', users_path %>


<% elsif %>


   <!DOCTYPE html>
<br>
    <html lang="en">

    <head>

    <meta charset="utf-8">

    <title>Rotas Community</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    </head>

    <body>

        
            <!-- Brand and toggle get grouped for better mobile display -->

            

       <div align="center">

            <div class="container-fluid">


                     
                <img alt="teste" src="http://www.gruponasa.com.br/arquivos/1-6-download-822718_g.jpg" width="1000" height="450" />
                <link href="/assets/custom.css.scss?body=1" media="screen" rel="stylesheet" />
                <br>
                <div align="center"> 
                <br>

<div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Cadastre-se no sistema', new_user_path %>
                </div>
                </div>
               
                
</div>
            </div>

        

        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-4">

                    <h2>Quem somos</h2>

                    <p>O Rotas Transporte é uma empresa do ramo...</p>

                    <div align="center"> 
                <br>

                <div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Rotas disponiveis', routes_path %>
                </div>
                </div>

                </div>

                <div class="col-xs-4">

                    <h2>Oportunidade de Rotas</h2>

                    <p>Aqui você pode verificar todas as rotas disponiveis para você trabalhar!</p>

                <div align="center"> 
                <br>

                <div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Rotas disponiveis', routes_path %>
                </div>
                </div>
               
                    

                </div>

                <div class="col-xs-4">

                    <h2>Bootstrap</h2>

                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. The Bootstrap tutorial section will help you learn the techniques of Bootstrap so that you can quickly create your own website.</p>

                    <div align="center"> 
                <br>

                <div class="btn-group" role="group" aria-label="...">
               
                     <button_to type="button" class="btn btn-default" style="text-align: center" ></button>
                       <%= link_to 'Rotas disponiveis', routes_path %>
                </div>
                </div>
                </div>

            </div>

            <hr>

            <div class="row">

                <div class="col-xs-12">

                    

                </div>

            </div>

        </div>

    </body>

    </html>


<% end %>

<% end %>
