
 
 <% provide(:title, 'Users') %>
<h1>Todas os usuários</h1>




  <thead>
<table class="table table-striped">
    <tr>

<ul class="routes">
 <li>
      <th>Name</th>
      
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
         <% if current_user.admin? %>
        <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <% end %>
      </tr>

      </li>
    <% end %>
  </tbody>
</table>

<br>
  <%= button_to('Sign Up', new_user_path, :class => 'btn btn-default')  %>

