<br>
<br>
<br>
<br>
<% provide(:title, @user.name) %>
  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<br>
        <div class="col-md-8">

<h3>Minhas rotas </h3>
      <p>_________________________________________________________________</p>
      
<% if @user.routes.any? %>

      
<p>
    <ul class="routes">

          <% @user.routes.each do |route| %>
    
          <li>
            <p><%= "Origem: #{route.origem} "%></p>
            <p><%= "Destino: #{route.destino} "%></p>
            <p><%= "Tipo: #{route.tipo}"%></p>
            <p><%= "Data: #{route.data} "%></p>
            <p><%= "Observações: #{route.obs} "%></p>
            <p><%= "Carta-frete: #{route.frete} "%></p>
            <p><%= "Situação do Pagamento: #{route.pagamento} "%></p>

            <% if current_user.admin? %>
           

            <%= link_to t('Editar Rota', :default => t("helpers.links.Editar Rota")),
              edit_route_path, :class => 'btn btn-default' %>
            <% end %>
            </ul>  
                      </li>

            <p>_________________________________________________________________ </p>
            
            

    <% end %>

    <% end %>
</div>   
   </p>  


</div>


<%= link_to t('.Editar Perfil', :default => t("helpers.links.Editar Perfil")),
              edit_user_path(@user), :class => 'btn btn-default' %>

  <% if logged_in? && current_user.admin?%>              
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

              <% end %>
