<br>
<br>
<br>
<br>
<% provide(:title, @user.name) %>
  <div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<br>
        <div class="col-md-8">

<% if @user.routes.any? %>

      <h3>Minhas rotas (<%= @user.routes.count %>)</h3>
      <p>_________________________________________________________________</p>
      
<p>
    <ul class="routes">

          <% @user.routes.each do |route| %>
    
          <li>
            <p><%= "Origem: #{route.origem} "%></p>
            <p><%= "Destino: #{route.destino} "%></p>
            <p><%= "Tipo: #{route.tipo}"%></p>
            <p><%= "Data: #{route.data} "%></p>
            <p><%= "Observações: #{route.obs} "%></p>
            <p><%= "Carta-frete: #{route.frete} "%></p>
            <p><%= "Situação do Pagamento: #{route.pagamento} "%></p>

            <% if current_user.admin? %>
            <%= link_to 'Editar Rota', edit_route_path %>
            <% end %>
              
            <p>_________________________________________________________________ </p>
          </li>
            </ul>
            

    <% end %>

    <% end %>
   
   </p>  
              </div>

</div>
