<% provide(:title, 'Rotas') %>
<h1>Todas as rotas</h1>



<ul class="routes">
  <% @routes.each do |route| %>
    <li>
     <p><%= "Origem: #{route.origem} "%></p>
     <p><%= "Destino: #{route.destino} "%></p>
     <p><%= "Data: #{route.data} "%></p>

      <%= link_to 'Selecionar', route %>
      <p>_____________________________________________________________________________________________________________________________________________</p>
      
    </li>
  <% end %>
</ul>
<%= will_paginate %>


