<% provide(:title, 'Rotas') %>
<h1>Todas as rotas</h1>



<ul class="routes">
  <% @routes.each do |route| %>
    <li>
     <p><%= "Origem: #{route.origem} "%></p>
     <p><%= "Destino: #{route.destino} "%></p>
     <p><%= "Data: #{route.data} "%></p>
     
     <% if logged_in? %>
        
 
        <%= link_to "Selecionar", route, class: "btn btn-primary btn-sm" %>
  <% end %>
      <p>_____________________________________________________________________________________________________________________________________________</p>
      
    </li>
  <% end %>
</ul>
<%= will_paginate %>


