<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-tubolinks-track' => true %>
    <%= csrf_meta_tags %>
              <%= render 'layouts/shim' %> <!--Para funcionar no explorer-->

  </head>
  <body>
          <%= render 'layouts/header' %>
    <br>
    <div class="container">
          <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %><!--Conteúdo da página-->
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>